@media (min-width: 1025px) {

    header {
        background-color: var(--secondary-color);
        display: flex;
        align-items: center;
        padding: 0.75rem 1.5rem;
        gap: 1rem;
    }

    header img {
        max-width: 2rem;
        height: auto;
    }

    header span {
        font-size: 2rem;
        white-space: nowrap;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        margin-left: auto;
    }

    .navigation ul {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .navigation a {
        border: none;
        padding: 0.5rem 0;
        font-size: 1.2rem;
    }

    .navigation li.current {
    background-color: var(--secondary-color);
    }

    /*-----HERO-----*/
    .hero {
        height: 400px;
    }

    /*----CARDS-INDEX-----*/

    .home-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .member-cards section img {
        width: 220px;
        height: auto;
    }

    .member-cards section h2,
    .member-cards section p {
        margin: 0.25rem 0;
    }

    .member-cards {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    /*---- JOIN PAGE ----*/

    /*--         MAIN         --*/
    .join-layout {
        display: grid;
        grid-template-columns: 2fr 1fr; /* form más grande */
        gap: 2rem;
        align-items: start;
    }

    .memberships {
        margin-right: 5rem;
    }

    /*-------DISCOVER PAGE-------*/


    .display-cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .display-cards section {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "name image"
            "description image"
            "direction image"
            "button image";
        align-items: center;
        gap: 1.5rem;
    }

    .display-cards figure {
        grid-area: image;
    }

    .display-cards img {
        width: 100%;
        height: 200px;
        max-height: 300px;
        object-fit: cover;
    }

    .display-cards img:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }

    /*----FOOTER---*/
    footer {
        display: flex;
        align-items: center;
        padding: 2rem 3rem;
    }


    .icons {
        padding: 50px;
        gap: 1.5rem;
    }

    footer a {
        padding: 30px;
    }
}