@media only screen and (min-width: 1200px) {

    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #ddd;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    /*---------MAIN CONTENT--------*/

    .card {
        display: flex; /* Hace que las secciones se alineen horizontalmente */
        gap: 20px; /* Espacio entre las secciones */
    }

    .about-me, .student-photo {
        flex: 2, 1; /* Ambas secciones ocupan el mismo espacio */
    }

    /* Opcional: ajustar el tamaño de las imágenes si es necesario */
    .student-photo img {
        width: 100%; /* Ocupando todo el espacio disponible */
        height: auto; /* Manteniendo la proporción */
        border-radius: 8px; /* Bordes redondeados */
    }
}