@media only screen and (min-width: 768px) {

    header, main, nav, footer {
        margin: 0 auto;
        max-width: 900px;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #ddd;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    /*---------MAIN CONTENT--------*/

    .card {
        display: flex;
        gap: 20px;
    }
    
    .card img {
        width: 300px;
        height: auto;
    }
}